<%= stylesheet_link_tag('index') %>
<div class="comment-container">
    <h3>Add a new Comment</h3>
    <div class="comment-form">
      <%= form_with model: @comment, url: user_post_comments_path do |form| %>
        <%= form.label :text %>
        <%= form.text_field :text %><br>

        <%= form.hidden_field :post_id, value: params[:post_id] %>
        <%= form.submit "Submit"%>
      <% end %>
    </div>
</div>
