<div class="comment-container">
  <h1>Add a new post</h1>
  <div class="comment-form">
    <%= form_with model: @post, url: user_posts_path do |form| %>
      <%= form.label :title%>
      <%= form.text_field :title%><br>

      <%= form.label :text%>
      <%= form.text_area :text, cols:50, row: 50 %><br>
      <%= form.submit "Add post" %>
    <% end %>
  </div>
</div>