<%= stylesheet_link_tag('index') %>
<div class="post-details">
  <span>
    <h1> <%= @post.title %> by <%= @user.name %> </h1>
    <span>Comments: <%= @post.comments.count %> Likes: <%= @post.likes_counter %> </span>
  </span>
  <p> <%= @post.text %> </p>
  <%= render 'shared/comment', comments: @comments %>
</div>
