<%= stylesheet_link_tag('index') %>
<div class="post-details">
  <span>
    <h1> <%= @post.title %> by <%= @user.name %> </h1>
    <span>Comments: <%= @post.comments.count %> Likes: <%= @post.likes_counter %> </span>
  </span>
  <p> <%= @post.text %> </p>
    <p>
      <%= link_to 'Comment on this post', new_user_post_comment_path(user_id: current_user.id, post_id: @post.id) %>
    </p>
    <span>Comments: <%= @post.comments.count %> Likes: <%= @post.likes_counter %> </span>
  </span>
  <p> <%= @post.text %>
    <%= form_with model: @like, url:user_post_likes_path(post_id: @post.id) do |l| %>
      <%= l.submit  "Like", class: ["new-post-btn submit-btn"]%>
      <% end %>
  <%= render 'shared/comment', comments: @comments %>
</div>
